
{% extends "account.html.twig" %}

{% block page %}

    <b><span class = "uk-account-bread">/ Edit Profile</span></b>
    <br> 
    <i class = "uk-classic-italic">Set up your presence and write a biography</i>
    </div>
</div>
<div class="uk-grid-large uk-grid uk-grid-stack uk-padding-top-large" data-uk-grid>
    <div class="uk-width-1-5@m uk-first-column uk-navbar-sidebar-nav" >
        <ul class="uk-nav-parent-icon" data-uk-nav>
            <li><a href="#"><b>Edit Profile</b></a></li>
            <li><a href="{{ path("account_settings") }}">Account Settings</a></li>
            <li><a href="{{ path("account_password") }}">Password</a></li>
            <li><a href="#">Email Notifications</a></li>
            <li><a href="#">Sessions</a></li>
        </ul>
    </div>

    <div class="uk-width-expand@m uk-grid-margin uk-first-column">
        <div class="uk-article-content">
           {% for message in app.flashes('success') %}
                <span class = 'uk-classic-italic form-alert-green'>
                    {{ message }}
                </span><br><br>
            {% endfor %}

            {{ form_start(form, { 'attr': {'enctype': 'multipart/form-data', 'class': 'uk-form-stacked'}}) }}
                <div class="uk-margin-bottom">
                    
                    <div class="uk-profile-meta uk-flex uk-flex-middle">
                        <img class="uk-border-circle uk-avatar" src="{{ asset(app.user.getAvatarPath()) }}" id = "outImage" alt="?" loading="lazy" style="height: 80px; width: 80px" accept="image/png, image/jpeg, image/jpg">
                        <div>
                            {{ form_widget(form.avatar_path, {'attr': {'class': 'uk-margin-left', 'onchange': "onFileSelected(this)" }}) }}
                        </div>
                    </div>

                    {{ form_errors(form.avatar_path) }}
                </div>

                <div class="uk-margin-medium-bottom">
                    {{ form_label(form.specialty, "Specialty", {'label_attr': {'class': 'uk-form-label'}}) }}
                    <div class="uk-form-controls">
                        {{ form_widget(form.specialty, {'attr': {'class': 'uk-input form-control', 'value': app.user.specialty }}) }}
                    </div>
                    <i class = "uk-classic-italic">What do you do? Mention your field of work.</i>
                </div>

                <div class="uk-margin-bottom">
                    {{ form_label(form.biography, "Biography", {'label_attr': {'class': 'uk-form-label'}}) }}
                    <div class="uk-form-controls">
                        {{ form_widget(form.biography, {'attr': {'class': 'uk-textarea form-control', 'rows': '5', 'minlength': '10', 'data':  app.user.biography}}) }}
                    </div>
                    <i class = "uk-classic-italic">Brief description for your profile. URLs are hyperlinked.</i>
                </div>

                <div class="uk-margin-medium-top">
                    <input class="uk-button uk-button-secondary uk-button-large" type="submit" value="Save Profile" onclick = "saveButton(this)">
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>


    <script>
        function saveButton(event) {
            // event.disabled = true;
        }

        var img = document.getElementById("outImage");
        function onFileSelected(evt) {
            if (validateFileType(evt)) {
                var tgt = evt.target || window.event.srcElement,
                    files = tgt.files;

                // FileReader support
                if (FileReader && files && files.length) {
                    var fr = new FileReader();
                    fr.onload = function () {
                        img.src = fr.result;
                    }
                    fr.readAsDataURL(files[0]);
                }

                // Not supported
                else {
                    // fallback -- perhaps submit the input to an iframe and temporarily store them on the server until the user's session ends.
                }
            }
        }

        function validateFileType(evt) {
            var fileName = evt.value;
            var idxDot = fileName.lastIndexOf(".") + 1;
            var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
            if (extFile=="jpg" || extFile=="jpeg" || extFile=="png"){
                return true;
            }else{
                alert("Only jpg/jpeg and png files are allowed!");
                return false;
            }   
        }

    </script>

{% endblock page %}