

{% set page = "login" %}
{% extends "base.html.twig" %}

{% block spreadsheets %}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/registration.css') }}" />
{% endblock %}

{% block title %}Login{% endblock %}

{% block body %}

<div class="position-center">
    <section>
        <div class="container shadow_container">
            <div class="container-content">
                <form method="POST" id="signin-form" action="{{ path('security_login') }}" method="post" autocomplete="on">
                    <h2 class="uk-tab-title uk-link-bright" style = "margin-bottom: 40px">Login</h2>

                    {% if error %}
                        <span class = 'form-alert-red'>
                            {{ error.messageKey }}
                        </span><br>
                    {% endif %}
                    
                    <div class="form-group">
                        <input type="email" class="form-control" name="_username" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="_password" placeholder="Password">
                        <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                    </div>

                    <div class="form-group ">
                        <input type="checkbox" id="_remember_me"  name="_remember_me">
                        <label for="_remember_me" class="label-checkbox"><span><span></span></span>Remembre me</a></label>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="form-submit red_shade" value="Sign in">
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                </form>
                <p class="registerhere">
                    Don't have an account yet? <a href="{{ path('security_registration') }}" class="registerhere-link uk-link-bright">Register here</a>
                </p>
            </div>
        </div>
    </section>
</div>
{% endblock %}