
{% set page = "register" %}
{% extends "base.html.twig" %}

{% block spreadsheets %}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/shadowForm.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/formAlert.css') }}" />
{% endblock %}

{% block title %}Register{% endblock %}

{% block body %}

<div class="position-center">
    <section>
        <div class="container shadow_container">
            <div class="container-content">
                {{ form_start(form) }}
                <form method="POST" id="signup-form" class="signup-form">
                    <input type="hidden" name="action" value="register" />
                    <h2 class="uk-tab-title uk-link-bright" style = "margin-bottom: 40px">Create account</h2>

                    {% for message in app.flashes('success') %}
                        <div class = "form-alert green">
                            {{ message|nl2br }}
                        </div>
                    {% endfor %}

                    
                    
                    {{ form_row(form.username) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.password.first) }}
                    {{ form_row(form.password.second) }}
                    <div class="form-group">
                        <input type="checkbox" name="agree-term" id="agree-term" onclick = "agree_terms()">
                        <label for="agree-term" class="label-checkbox"><span><span></span></span>I agree all statements in <a href="#" class="term-service">Terms of service</a></label>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" id="submit" class="form-submit red_shade" value="Sign up" disabled>
                    </div>
                    <script>
                        var submitButton = document.getElementById("submit");
                        function agree_terms() {
                            submitButton.disabled = !submitButton.disabled;
                        }
                    </script>
                {{ form_end(form) }}
                <p class="loginhere">
                Have already an account ? <a href="{{ path('security_login') }}" class="loginhere-link uk-link-bright">Login here</a>
                </p>
            </div>
        </div>
    </section>
</div>
{% endblock %}