
{% extends "@user/profile.html.twig" %}

{% block spreadsheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/tables.css') }}" />
	<link rel="stylesheet" href="{{ asset('css/grid_thumbnail.css') }}" />
{% endblock %}

{% block page %}
<div class = "uk-grid uk-margin-vertical-medium">
<div class = "uk-padding-left-none uk-details-header uk-flex-item-100">
					<div class="uk-details-thumbnail uk-section-transparent uk-flex-item-100">
						<div class="uk-grid-shadowing uk-certif-box uk-padding-top-small">
							<div class = "uk-thumbnail uk-margin-left">
								<div class="container" style = "max-height:300px; max-width:300px;">
									<img src="{{ asset(certif.getThumbnailPath()) }}" alt="">
								</div>

								<div class = "uk-margin-auto-top ">
									<br/>
									<a href="{{ path('enroll_remove', {'id': certif.id}) }}" style = "color: #fff;"><button class="uk-button uk-button-danger uk-button-disabled">UnEnroll</button></a>
								</div>
							</div>
							<div class="uk-details-description uk-flex-item-60">
								<h1 class="uk-no-spacing">{{ certif.title }}</h1>
								<div class="uk-badge">{{ certif.provider.name }}</div>
								<p class = "uk-item-description">
									{{ certif.description }}
								</p>
							</div>
						</div>
					</div>

				</div>

                <div class = "uk-section-transparent uk-container-sud uk-exam-table uk-flex-item-100">
					<table class="uk-table uk-table-divider">
						<thead>
							<tr>
								<th>Code</th>
								<th>Title</th>
								<th>Tries</th>
								<th>Last Try</th>
								<th>Best Attempt</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>

						{% set has_items = false %}

						{% for exam in certif.getExams() %}
							{% if exam.questions.count > 0 %}
								{% set has_items = true %}
								{% set tries = exam.getTries(app.user) %}

								{% if tries.count > 0 %}
									{% set best_score = 0 %}
									{% for try in tries %}
										{% if try.score > best_score %}
											{% set best_score = try.score %}
										{% endif %}
									{% endfor %}	

									{% set best_score = best_score ~ '/' ~ exam.questions.count %}
									
									{% set last_try = (tries|last).getTriedAt() %}
									{% if exam.getUpdatedAt() > last_try %}
										{% set was_updated = '<div class="uk-badge">Updated</div>' %}
									{% endif %}
								{% else %}
									{% set last_try = null %}
								{% endif %}

								<tr>
									<td>{{ exam.code }} {{ was_updated |default('') |raw }}</td>
									<td>{{ exam.title }}</td>
									<td>{{ tries.count }}</td>
									{% if last_try != null %} 
										<td>{{ last_try|date("m/d/Y") }}</td>
									{% else %}
										<td>Untried</td>
									{% endif %}
									<td>{{ best_score|default('Untried') }}</td>
									<td><a href="{{ path('try_exam', {'id': exam.id}) }}">Start</a></td>
								</tr>

								{% set last_try = null %}
								{% set best_score = null %}
								{% set was_updated = null %}
							{% endif %}
						{% endfor %}

						{% if has_items == false %}
							<tr>
								<td colspan="6">no records found</td>
							</tr>
						{% endif %}
						</tbody>
					</table>
				</div>
</div>

{% endblock page %}