{% extends "@admin_root/base.html.twig" %}

{% block title %}Providers - List{% endblock %}

{% block scriptsheet %}
    <script>
        document.getElementById("mod_index").classList.add("link-active");
    </script>
{% endblock %}

{% block form %}
    {# {{form_start(form) }} #}
        {# <div class="tabs_container"> #}
        
            {# <div id="tab1" class="blocco-tab"> #}
        {% if is_granted("ROLE_ADMIN") %}
            <div class="buttons_container">
                <a href="{{ path("providers_new")}}"><button class="btn add_button">Add</button></a>
            </div>
        {% endif %}

        <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Certifications</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for provider in providers %}
            <tr>
                <td>{{ provider.id }}</td>
                <td>{{ provider.name }}</td>
                <td>{{ provider.getCertifications().count }}</td>
                <td>
                    <a href="{{ path('provider_certifs_list', {'id': provider.id}) }}">certifications</a>
                    <a href="{{ path('providers_edit', {'id': provider.id}) }}">edit</a>
                    <form method="post" action="{{ path('providers_delete', {'id': provider.id}) }}" onsubmit="return confirm('Are you sure you want to delete this certification? {{ provider.getCertifications().count }} certification(s) WILL be deleted from the database.');" class = "btn-delete">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ provider.id) }}">
    <button class="btn-link">delete</button>
</form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}