{% extends "@backend_root/base.html.twig" %}

{% block title %}Paper #{{paper.id}} - Question List{% endblock %}

{% block scriptsheet %}
    <script>
        document.getElementById("ressources_index").classList.add("link-active");
    </script>
{% endblock %}

{% block form %}
    <div class = "form_container">
        <a href="{{ path('exam_papers_list', {'id': paper.exam.id}) }}"><button class="btn back_button">Go Back</button></a>
        <h1>All questions of Paper {{paper.id}} :</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Task</th>
                    <th>Propositions</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for question in paper.getQuestions() %}
                <tr>
                    <td>{{ question.title }}</td>
                    <td>{{ question.task|length > 15 ? question.task|slice(0, 15) ~ '...' :  question.task}}</td>
                    <td>{{ question.getPropositions().count() }}</td>
                    <td> <a href="{{ path('question_propositions_list', {'id': question.id}) }}">propositions</a> </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}