{% extends "@admin_root/base.html.twig" %}

{% block title %}Signals - {{exam.title}}{% endblock %}

{% block scriptsheet %}
    <script>
        document.getElementById("mod_index").classList.add("link-active");
    </script>
{% endblock %}

{% block form %}
    <div class = "form_container">
        <a href="{{ path('certif_exams_list', {'id': exam.certification.id}) }}"><button class="btn back_button">Go Back</button></a>
        <h1>Les signals de Examen {{exam.title}} :</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Created By</th>
                    <th>Reason</th>
                    <th>Created At</th>
                    <th>Fixed</th>

                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for signal in exam.getSignalers() %}
                <tr>
                    <td>{{ signal.createdBy.username }}</td>
                    <td>{{ signal.reason }}</td>
                    <td>{{ signal.getCreatedAt()|date('Y-m-d H:i:s') }}</td>
                    <td>{% if signal.isFixed == true %}true{% else %}false{% endif %}</td>
                    <td><a href="{{ path('exam_signal_fix', {'id': signal.id}) }}">{% if signal.isFixed == true %}not fixed yet{% else %}fixed{% endif %}</a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}