

{% set page = "login" %}
{% extends "base.html.twig" %}

{% block spreadsheets %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="{{ asset("css/quiz.css") }}">
    <link rel="stylesheet" href="{{ asset("css/registration.css") }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}

{% block title %}Login{% endblock %}

{% block body %}
<!-- start Quiz button -->
    <div class="start_btn"><button>Start Quiz</button></div>
    <!-- Info Box -->
    <div class="info_box shadow_container">
        <div class="info-title"><span>Some Rules of this Quiz</span></div>
        <div class="info-list">
            <div class="info">1. You will have only <span><span class = "info_seconds"></span> seconds</span> per each question.</div>
            <div class="info">2. Once you select your answer, it can't be undone.</div>
            <div class="info">3. You can't select any option once time goes off.</div>
            <div class="info">4. You can't exit from the Quiz while you're playing.</div>
            <div class="info">5. You'll get points on the basis of your correct answers.</div>
        </div>
        <div class="buttons">
            <a href = "{{ path('user_attempts', { 'id': exam.certification.id }) }}"><button class="quit">Exit</button></a>
            <button class="restart">Continue</button>
        </div>
    </div>
    <!-- Quiz Box -->
    <div class="quiz_box shadow_container">
        <header>
            <h2 class="uk-tab-title uk-link-bright uk-margin-vertical-none">{{ exam.title }}</h2>
            <div class="timer">
                <div class="time_left_txt">Time Left</div>
                <div class="timer_sec">15</div>
            </div>
            <div class="time_line"></div>
        </header>
        <section>
            
            <div class="que_text">
                <!-- Here I've inserted question from JavaScript -->
            </div>
            <div class="que_task">
                <!-- Here I've inserted question from JavaScript -->
            </div>
            <div class="option_list">
                <!-- Here I've inserted options from JavaScript -->
            </div>
        </section>
        <!-- footer of Quiz Box -->
        <footer>
            <div class="total_que">
                <!-- Here I've inserted Question Count Number from JavaScript -->
            </div>
            <div class = "navigation_quiz_buttons">
                <button class="ok_btn show">Ok</button>
                <button class="prev_btn">&laquo; Previous</button>
                <button class="next_btn">Next &raquo;</button>
            </div>
        </footer>
    </div>
    <!-- Result Box -->
    <div class="result_box">
        <div class="icon">
            <i class="fas fa-crown"></i>
        </div>
        <div class="complete_text">You've completed the exam!</div>
        <div class="score_text uk-text-center">
            <!-- Here I've inserted Score Result from JavaScript -->
        </div>
        <div class="buttons">
            <button class="restart">Try Again</button>
            <a href = "{{ path('user_attempts', { 'id': exam.certification.id }) }}"><button class="quit">Exit</button></a>
        </div>
    </div>
    <!-- Inside this JavaScript file I've inserted Questions and Options only -->
    <!-- Inside this JavaScript file I've coded all Quiz Codes -->

    <script>
    // creating an array and passing the number, questions, options, and answers
let questions = {{ questions|json_encode()|raw }};
let userData = []; // saving user input, counter, counterLine, widthValue, timeValue
let userScore = 0;

//selecting all required elements
const start_btn = document.querySelector(".start_btn button");
const info_box = document.querySelector(".info_box");
const continue_btn = info_box.querySelector(".buttons .restart");
const quiz_box = document.querySelector(".quiz_box");
const result_box = document.querySelector(".result_box");
const option_list = document.querySelector(".option_list");
const time_line = document.querySelector("header .time_line");
const timeText = document.querySelector(".timer .time_left_txt");
const timeCount = document.querySelector(".timer .timer_sec");

// if startQuiz button clicked
start_btn.onclick = ()=>{
    info_box.classList.add("activeInfo"); //show info box
}

const widthValue = 720;
const timeValue = 20;

document.querySelector(".info_seconds").textContent = timeValue;

let que_count = 0;
let que_passed = -1;
let que_numb = 1;
let counter;
let counterLine;

let timeLeft;
let widthLeft;

const restart_quiz = result_box.querySelector(".buttons .restart");
const quit_quiz = result_box.querySelector(".buttons .quit");

// if continueQuiz button clicked
continue_btn.onclick = ()=>{
    $(document).ready(function() {
        $.post("{{ path('try_start') }}");
    });

    info_box.classList.remove("activeInfo"); //hide info box
    quiz_box.classList.add("activeQuiz"); //show quiz box
    showQuestions(0); //calling showQestions function
    queCounter(1); //passing 1 parameter to queCounter
    startTimer(); //calling startTimer function
}

// if restartQuiz button clicked
restart_quiz.onclick = ()=>{
    window.location.reload();
}

const ok_btn = document.querySelector("footer .ok_btn");
const prev_btn = document.querySelector("footer .prev_btn");
const next_btn = document.querySelector("footer .next_btn");
const bottom_ques_counter = document.querySelector("footer .total_que");

// if Ok Button clicked
ok_btn.onclick = ()=> {
    clearInterval(counter); //clear counter
    clearInterval(counterLine); //clear counterLine
    
    checkAnswers();

    if (que_count > 0) {
        prev_btn.classList.add("show");
    }
    
    next_btn.classList.add("show"); //show the next button if user selected any option
    ok_btn.classList.remove("show");
}


// if Next Que button clicked
prev_btn.onclick = ()=>{
    if(que_count > 0){ //if question count is less than total question length
        showQuestions(--que_count); //calling showQestions function // next question
        queCounter(--que_numb); //passing que_numb value to queCounter // saving count
        loadData();

        if (que_count == 0) {
            prev_btn.classList.remove("show");
        }

        next_btn.classList.add("fnext_btn");
    }
}

// saving user data on Next, maybe using it on previous later.
function saveData() {
    let answers = [];

    const allOptions = option_list.children.length; //getting all option items
    for(i=0; i < allOptions; i++) {
        answers[i] = option_list.children[i].classList.contains("selected");
    }
    
    userData[que_count] = {timeLeft: timeLeft, widthLeft: widthLeft, answers: answers};
}

function loadData() {
    var userD = userData[que_count];

    timeLeft = userD.timeLeft;
    widthLeft = userD.widthLeft;

    const allOptions = userD.answers; //getting all option items
    for (i = 0; i < allOptions.length; i++) {
        console.log(allOptions[i]);

        if (allOptions[i] == true) {
            var child = option_list.children[i];
            child.classList.add("selected");
            child.lastElementChild.insertAdjacentHTML("beforeend", selectedIconTag);
        }
    }

    if (timeLeft <= 9){
        timeCount.textContent = "0" + timeLeft; //add a 0 before time value
    } else {
        timeCount.textContent = timeLeft;
    }

    if (timeLeft == 0){ //if timer is less than 0
        timeText.textContent = "Time Off"; //change the time text to time off
    } else {
        timeText.textContent = "Time Left"; //change the time text to time off
    }
    
    //time_line.style.width = widthLeft + "px";
    time_line.style.width = ((widthValue/timeValue)*(timeValue-timeLeft)) + "px";
    checkAnswers();
}

// if Next Que button clicked
next_btn.onclick = ()=>{
    if (que_passed == que_count) {
        clearInterval(counter); //clear counter
        clearInterval(counterLine); //clear counterLine

        if(que_count < questions.length - 1){ //if question count is less than total question length

            // user input, counter, counterLine, widthValue, timeValue
            showQuestions(++que_count); //calling showQestions function // next question
            queCounter(++que_numb); //passing que_numb value to queCounter // saving count

            startTimer(); //calling startTimer function
            timeText.textContent = "Time Left"; //change the timeText to Time Left

            prev_btn.classList.remove("show"); //hide the prev button
            next_btn.classList.remove("show"); //hide the next button
            ok_btn.classList.add("show"); //hide the next button
        } else {
            showResult(); //calling showResult function
        }
    } else {
        showQuestions(++que_count); //calling showQestions function // next question
        queCounter(++que_numb); //passing que_numb value to queCounter // saving count
        
        loadData();

        if (que_count == 1) {
            prev_btn.classList.add("show");
        }

        if (que_passed == que_count) {
            next_btn.classList.remove("fnext_btn");
        }
    }
}

// getting questions and options from array
function showQuestions(index){
    const que_title = document.querySelector(".que_text");
    const que_task = document.querySelector(".que_task");
    //creating a new span and div tag for question and option and passing the value using array index
    let que_tag = '<span>' + questions[index].title +'</span>';
    let que_info = '<span>' + questions[index].task + '</span>';
    let option_tag = "";
    for(i=0; i < questions[index].options.length; i++){
        option_tag += '<div class="option"><span>'+ questions[index].options[i].proposition +'</span><div class="icons"></div></div>';
    }

    que_title.innerHTML = que_tag; //adding new span tag inside que_tag
    que_task.innerHTML = que_info; //adding new span tag inside que_tag
    option_list.innerHTML = option_tag; //adding new div tag inside option_tag
    
    const option = option_list.querySelectorAll(".option");

    // set onclick attribute to all available options
    for(i=0; i < option.length; i++){
        option[i].setAttribute("onclick", "optionSelected(this)");
    }
}
// creating the new div tags which for icons
let selectedIconTag = '<div class="icon pencil"><i class="fa fa-pencil"></i></div>';
let tickIconTag = '<div class="icon tick"><i class="fa fa-check"></i></div>';
let crossIconTag = '<div class="icon cross"><i class="fa fa-times"></i></div>';
let selected_options = 0;

//if user clicked on option
function optionSelected(prop) {
    if (prop.classList.contains("selected")) {
        prop.classList.remove("selected");
        prop.lastElementChild.removeChild(prop.lastElementChild.firstElementChild);
        selected_options--;
        

    } else {
        prop.classList.add("selected");
        prop.lastElementChild.insertAdjacentHTML("beforeend", selectedIconTag); //adding selected icon to correct selected option
        selected_options++;

    }
}


function checkAnswers() {
    selected_options = 0;
    let win = 0;
    let current_question = questions[que_count];

    let correcAnswers = questions[que_count].answers; //getting correct answer from array

    const allOptions = option_list.children.length; //getting all option items
    for(i=0; i < allOptions; i++) {
        let option = option_list.children[i];

        if(correcAnswers.includes(option.textContent)) { //if there is an option which is matched to an array answer
            if (option.classList.contains("selected")) {
                win++;
                // TODO : remove pencil 
            } else {
                win--;
            }
            // TODO: add correct
            option.classList.add("correct"); //adding green color to correct selected option
            option.lastElementChild.insertAdjacentHTML("beforeend", tickIconTag); //adding tick icon to correct selected option
            console.log("Correct Answer");
            
        } else if (option.classList.contains("selected")) { // wrong answer
            // TODO : remove pencil 

            win--;
            option.classList.add("incorrect"); //adding red color to correct selected option
            option.lastElementChild.insertAdjacentHTML("beforeend", crossIconTag); //adding cross icon to correct selected option
            console.log("Wrong Answer");
        }

        option.classList.add("disabled"); // disable all options
    }
    
    console.log("attempting to save (check "+que_count+"== "+(que_passed+1)+")");
    if (que_count == que_passed+1) {
        que_passed = que_count;
        if (win == correcAnswers.length) {
            userScore += 1; //upgrading score value with 1
        }

        saveData();
    }
}

function showResult(){
    option_list.innerHTML = ""; //adding new div tag inside option_tag

    info_box.classList.remove("activeInfo"); //hide info box
    quiz_box.classList.remove("activeQuiz"); //hide quiz box
    result_box.classList.add("activeResult"); //show result box
    const scoreText = result_box.querySelector(".score_text");

    if(userScore >= 0){ // if user scored more than 0
        let reward = "";

        if (userScore == questions.length) {
            reward = "Congratulations &#129395; ! ";
        }
        scoreText.innerHTML = '<span>' + reward + 'You got <span>'+ userScore +'</span> out of <span>'+ questions.length +'</span> questions right.</span>';
    } else {

        scoreText.innerHTML = '<span>Sorry! You got <span>'+ userScore +'</span> out of <span>'+ questions.length +'</span> questions right. It\'s okay, try harder next time &#128521;.</span>';
    }

    $(document).ready(function() {
        // $.post("{{ path('answers_submit') }}", {data: JSON.parse(JSON.stringify(answers))});
        $.post("{{ path('answers_submit') }}", {score: userScore});
    });
}

function startTimer(){
    time_line.style.width = "0px";

    timeLeft = timeValue;
    timeCount.textContent = timeLeft;
    
    countdownTask();

    counter = setInterval(countdownTask, 1000);

    function countdownTask(){

        if(timeLeft <= 9){
            timeCount.textContent = "0" + timeLeft; //add a 0 before time value

            if(timeLeft == 0){ //if timer is less than 0
                timeText.textContent = "Time Off"; //change the time text to time off

               // clearInterval(counterLine);
                clearInterval(counter); //clear counter
                checkAnswers();
                
                if (que_count > 0) {
                    prev_btn.classList.add("show");
                }

                next_btn.classList.add("show"); //show the next button if user selected any option
                ok_btn.classList.remove("show");
            }
        } else {
            timeCount.textContent = timeLeft;
        }

        time_line.style.width = ((widthValue/timeValue)*(timeValue-(timeLeft--))) + "px";
    }
    
}

function startTimerLine() {

    var perMs = Math.floor((timeValue*1000) / widthValue);
    time_line.style.width = 0;
    widthLeft = 0;

    var counterLine = setInterval(timerLine, perMs);

    function timerLine() {
        time_line.style.width = (++widthLeft) + "px"; //increasing width of time_line with px by time value

        if(widthLeft == widthValue){ //if time value is greater than 'widthValue'
            clearInterval(counterLine); //clear counterLine
        }

        console.log(widthLeft);
    }
}

function queCounter(index){
    //creating a new span tag and passing the question number and total question
    let totalQueCounTag = '<span><p>'+ index +'</p> of <p>'+ questions.length +'</p> Questions</span>';
    bottom_ques_counter.innerHTML = totalQueCounTag;  //adding new span tag inside bottom_ques_counter
}

    </script>
{% endblock %}