
<div class = 'uk-comments-container'>
    {% if logged_in %}
        <div> 
            <div class='list-inline comment-new-header'>
                <h1>New Comment</h1>
                <button type='submit' class='comment_btn btn-normal pull-right' id= 'comment_submit'>Submit</button>
            </div>
            <form class = 'uk-container'>
                <div class='row list-inline'>
                <div class = 'comment-new-picture'>
                    <img class='uk-border-rounded img-responsive' src='{{ asset( app.user.getAvatarPath()) }}' alt=''>
                </div>
                <div class='comment-form-group col-xs-12 col-sm-9 col-lg-10'>
                    <textarea class='comment-form-control' id='new_comment' placeholder='Add a public comment' required></textarea>
                </div>
                </div>
            </form>
        </div>
    {% endif %}

    <h2> {{ certif.getComments().count }}  Comments </h2>
            
    <div class='uk-container' id = 'comments_container'>
        {% for comment in certif.getComments() %}
            <div id = "comm_{{ comment.getId() }}">
            {% include 'comments/one_comment.html.twig' with {'comment': comment} %}

            {% if comment.getReplies().count >= 1 %}
                <a class='u-link-view-replies u-link-v5 g-color-gray-dark-v4 g-color-primary--hover'>
                <i class='fa fa-caret-down' aria-hidden='true'></i>
                    View {{ comment.getReplies().count }} replies
            {% else %}
                <a class='u-link-v5 g-color-gray-dark-v4 g-color-primary--hover'>
            {% endif %}
            
                </a>
                <div class = 'media-reply'></div>
                <div class = 'media-reply-self'></div> 
            </div>  
        <!-- End of Comment -->
        {% endfor %}
    </div>

<script>

  $(document).ready(function() {
    var certification_id = '{{ certif.id }}';
    // Submit Buttons
    
    var comments_container = $("#comments_container");
    $('#comment_submit').click(function() {
        var texta = $(this).parent().next().find("textarea#new_comment");

        if (texta.val() != "") {
            $.post("/comment/"+certification_id+"/new", {content: texta.val()}).done(function(data) {    
                texta.val('');
                var x = $(data).prependTo(comments_container);
                load_one(x, "new comment");
            });
        }
    });

    function reply_submit(self, comm_container) {
        var reply_container = self.parent();
        var isType, replyTo, selfContainer;

        var replies_container = comm_container.parent();
        if (replies_container.hasClass("media-reply-self") ||
                replies_container.hasClass("media-reply")) {
            isType = "reply";
            replyTo = comm_container.parent().parent().attr('id');
        } else {
            isType = "comment";
            replyTo = comm_container.attr('id');
            selfContainer = comm_container.find(".media-reply-self");
        }

        $.post("/comment/reply/add/"+replyTo.split("_")[1], {content: self.prev().find("textarea#new_comment").val()}).done(function(data) {
            reply_container.hide(0, function() {
                if (isType == "reply") {
                    comm_container.after(data);
                    load_one(comm_container.next(), "reply to reply");
                } else if (isType == "comment") {
                    selfContainer.prepend(data);
                    load_one(selfContainer.children().first(), "reply to comment");
                }
            });
        });

        // reply_container.hide(); // make an error exception instead
    }

    // Comment buttons

    function reply_button(self, replyForm, comment_con) {
        if (replyForm.is(':empty')) {
            $.post("{{ path("reply_form") }}").done(function(data) {
                replyForm.append(data);
                replyForm.find('.uk-reply-submit').click(function() {
                    reply_submit($(this), comment_con);
                });
                replyForm.show();
            });
        } else {
            replyForm.toggle();
        }
    }

    function delete_button(comment_con, comm_id) {
        alert(comm_id);
        $.post("/comment/" + comm_id+"/delete").done(function(data) {
            // fetch DOM element and delete it.
            comment_con.remove();
        });
    } // DONE

    function edit_button(self, ul_con, col_con, comment_con, comment_id) {
        var old_content = ul_con.prev().text();

        if (comment_con.find(".edit-form").length) {
            comment_con.children(":first").show(0, function() {
                col_con.hide();
            });
        } else {
            $.post("/comment/edit/form", {content : old_content}).done(function(data) {
                col_con.hide();
                comment_con.prepend(data);
                var form_edit = comment_con.children(":first"); 
                // was newly added

                load_edit_capabilities(form_edit, col_con, comment_con, comment_id);
            }); 
        }
    } // DONE
    
    // Comment capabilities (reply, delete, edit)

    function load_edit_capabilities(self, col_con, comment_con, comment_id) {

        self.find('#cancel').click(function() {
            col_con.show(0, function() {
                self.hide();
            });
        });

        var form_content = self.find("#edit_comment");

        self.find('#edit').click(function() {
            $.post("/comment/"+comment_id+"/edit", {content : form_content.val()}).done(function(data) { 

                col_con.find("p").text($(data).find("p").text());

                self.next().show(0, function() {
                    self.hide();
                });
            }); 
        });
    }

    function load_one(comment_con, status) { // self is the comment DIV
        if (comment_con.attr("id") && comment_con.attr("id").indexOf('comm_') == 0) {
            var col_con = comment_con.children(':first');
            var ul_con = col_con.find('#capabilities');
            var comment_id = comment_con.attr("id").split("_")[1];
            
            ul_con.find('.uk-reply-button').click(function() {
                reply_button($(this), ul_con.parent().parent().next(), comment_con);
            });

            ul_con.find('.uk-delete-button').click(function() {
                delete_button(comment_con, comment_id);
            });

            ul_con.find('.uk-edit-button').click(function() {
                edit_button($(this), ul_con, col_con, comment_con, comment_id);
            });
        } else {
            alert("error ("+status+"): "+comment_con.prop("outerHTML"));
        }
    }

    function load_all(space, replies = null) {
        space.find('[id^=comm_]').each(function() {
            var container = $(this);
            load_one(container, "load all");

            if (replies) {
                container.find('.u-link-view-replies').click(function() {
                    var mediaReplies = $(this).next();
                    if (mediaReplies.html() == '') {
                        $.post("/comment/reply/get/"+container.attr('id').split("_")[1]).done(function(data) {
                            mediaReplies.empty().append(data);
                            load_all(mediaReplies);
                        });
                    } else {
                        mediaReplies.toggle();
                    }
                });
            }
        });
    }

    load_all($(this), true);
  });
</script>

</div>