<nav class="uk-navbar-container">
    <div class="uk-container uk-navbar-transparent uk-light">
        <div data-uk-navbar>

        <div class="uk-navbar-right">
            <div>
                <a id="search-navbar-toggle" class="uk-navbar-toggle" data-uk-search-icon="ratio: 1.1" href="#"></a>
                <div data-uk-drop="mode: click; pos: left-center; offset: 0">
                    <form class="uk-search uk-search-navbar uk-width-1-1 awesomplete" onsubmit="return false;">
                        <input id="search-navbar" class="uk-search-input" type="search" placeholder="Exam code here..." autofocus>
                        <ul role="listbox" id="awesomplete_list">

                        </ul>
                    </form>
                </div>
            </div>        
            <a class="uk-navbar-toggle uk-hidden@m" href="#offcanvas" data-uk-toggle><span
            data-uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">Menu</span></a>
            <ul class="uk-navbar-nav uk-visible@m">
            <li class="uk-active"><a href="{{ path("index")}}">Home</a></li>
            <li>
                <a>Contact</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-navbar-dropdown-nav uk-nav-parent-icon" data-uk-nav>
                        <li><a href="{{ path("feedback_new") }}">Send feedback</a></li>
                    </ul>
                </div>
            </li>

            {% if logged_in %}
                <li>
                    <a href="#"> <img class="g-size-45 uk-border-circle avatar_border_white" src = "{{asset(app.user.getAvatarPath())}}"></a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-navbar-dropdown-nav uk-nav-parent-icon" data-uk-nav>
                            <li>Signed in as <br> {{ app.user.username }}</li>
                            <hr class = "uk-hr">
                            {# <li><a href="article.php?page=new">Write a new certification</a></li> #}
                            <li><a href="{{ path('user_certifs') }}">Personal Space</a></li>
                            {% if app.user.roles|length > 1 %}
                                <hr class = "uk-hr">
                                <u><i class = "uk-classic-italic"> SuperUser Space: </i></u>
                                <li class = "uk-classic-italic"><a href="{{ path('admin_dashboard') }}"> - Dashboard</a></li>
                                {% if is_granted('ROLE_ADMIN') %}
                                <li class = "uk-classic-italic"><a href="{{ path('users_index') }}"> - Users</a></li>
                                {% endif %}

                                {% if is_granted('ROLE_MODERATOR') %}
                                    <li class = "uk-classic-italic"><a href="{{ path('ressources_index') }}"> - Ressources</a></li>
                                    <li class = "uk-classic-italic"><a href="{{ path('suggestions_index') }}"> - Suggestions</a></li>
                                    <li class = "uk-classic-italic"><a href="{{ path('feedbacks_index') }}"> - Users Feedback</a></li>
                                {% endif %}
                            {% endif %}
                            <hr class = "uk-hr">
                            <li><a href="{{ path('account_information') }}">Edit Profile</a></li>
                            <li><a href="{{ path('account_settings') }}">Account Settings</a></li>
                            <li><a href="{{ path('user_sugg_new') }}">Suggest an exam</a></li>
                            <hr class = "uk-hr">
                            <li><a href="{{ path('security_logout') }}">Sign Out</a></li>
                        </ul>
                    </div>
                </li>
            {% else %}
                <li><div class='uk-navbar-item'><a class='uk-button uk-button-small uk-button-primary-outline' href='{{ path('security_login') }}'>Login</a></div></li>
            {% endif %}

            </ul>
        </div>
        </div>
    </div>
</nav>

<script>
    $(document).ready(function () {
        cache = []
        search_results = $("#awesomplete_list");

        function addResults(array) {
            search_results.empty();
            array.forEach(function(code) {
                search_results.prepend( 
                    "<li role='option' aria-selected='true'><a href = '/exam/"+code+"'>"+code+"</a></li>"
                )
            });

        }

        $("#search-navbar").autocomplete({

            source: function (request, response) {
                var term = request.term;
                if (term in cache) {
                    addResults(cache[term]);
                    return;
                }
                $.ajax({
                    crossDomain: true,
                    type: 'POST',
                    url: "{{ path('exams_search')}}",

                    dataType: 'json',
                    data: { "search": request.term },
                    processdata: true,
                    success: function (result) {
                        var examCodes = JSON.parse(JSON.stringify(result));
                    
                        cache[term] = $.map(examCodes, function (item) {
                            return item.code
                        });

                        addResults(cache[term]);
                    },
                    error: function (a, b, c) {
                        debugger;
                    }
                });

            },
            minLength: 2
        });
    });
</script>