{% set page = "account" %}
{% extends "base.html.twig" %}

{% block spreadsheets %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="{{ asset('css/form.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/formAlert.css') }}" />
    {{ parent() }}
{% endblock %}

{% block body %}

<div class="uk-navbar-wrapper" data-uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; top: 200; media: @m">
    {% include 'components/navigation.html.twig' %}
</div>

<div class = "uk-section-transparent" style = "height: 90vh">
    <div class="uk-section uk-section-large uk-padding-bottom-large">
        <div class="uk-container-tight">
            <div class="uk-profile-meta uk-flex uk-flex-middle">
              <img class="uk-border-circle uk-avatar" src="{{ asset(app.user.getAvatarPath()) }}" alt="Sara Galen" loading="lazy" style="width: 70px; height: 70px">
                <div>
                    <b><a class = "uk-link">{{ app.user.username }}</a></b>
                    {% block page %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}