{% set page = "profile" %}
{% extends "base.html.twig" %}

{% block spreadsheets %}
    <link rel="stylesheet" href="{{ asset('css/tables.css') }}" />
    {{ parent() }}
{% endblock %}

{% block body %}

<div class="uk-navbar-wrapper" data-uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; top: 200; media: @m">
    {% include 'components/navigation.html.twig' %}
</div>

<div class = "uk-section-transparent">
        <div class="uk-section uk-section-small uk-padding-bottom-large">
            <div class="uk-container uk-flex">
                <div class = "uk-margin-right-large">
                    {% if unknown is not defined %}
                        {% set unknown = app.user %}
                    {% endif %} 
                    <div class="uk-flex uk-flex-center">
                        <img class="uk-big-avatar" src="{{ asset(unknown.getAvatarPath() ) }}" alt="Sara Galen" loading="lazy">
                    </div>
                    <p class = "uk-margin-bottom-none uk-margin-top-xsmall">
                        <a class = 'uk-text-bold ' style = "font-size: 1.4rem !important;">
                            {% if app.user.id == unknown.id %}
                                {{ app.user.username }} 
                            {% else %}
                                {{unknown.username }}
                            {% endif %}
                        </a>
                    </p>
                    <p class = "uk-color-grey-primary uk-margin-top-none uk-margin-bottom-small">{{ unknown.specialty}}</p>
                    <p class = "uk-color-grey uk-color-grey-secondary uk-text-small uk-margin-vertical-none">{{ unknown.biography}}</p>
                    <p class = "uk-color-grey-primary uk-margin-vertical-small uk-text-small">Member since {{ unknown.getCreatedAt()|date("m/d/Y")}}</p>

                    {# <a href = '{{ path("account_settings") }}' class='uk-display-block uk-button uk-button-secondary uk-margin-top uk-margin-vertical-10'>Edit Profile</a> #}
                </div>
                <div class = "profile_div">
                    {% block page %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}